
## importFrom(parallel, mcparallel)
importFrom(stringr, str_split)
importFrom(Runuran, uq, ur, unuran.is.inversion, unuran.details)

export(rvgt.ftable)
S3method(plot, rvgt.ftable)
S3method(print, rvgt.ftable)

export(rvgt.chisq, rvgt.Mtest)
export(plot.rvgt.htest)
S3method(plot, rvgt.htest)
S3method(print, rvgt.htest)

export(uerror, xerror)
export(plot.rvgt.ierror)
S3method(plot, rvgt.ierror)
S3method(print, rvgt.ierror)

export(rvgt.range.engine)
S3method(plot, rvgt.range)
S3method(print, rvgt.range)

export(rvgt.range.marginal)
export(rvgt.range.setup)
export(rvgt.range.trc)
export(rvgt.range.orc)

export(pertadd, pertsub)

